{% extends "layout.html" %}

{% block page_title %}
  {{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- EDIT THIS FOR EACH NEW PAGE -->
      <a href="javascript:history.back();" class="link-back">Back</a> 

      <form action="/liability/copacked-volume" method="get" class="form" >
        <div class="form-group">
          <fieldset> <!--  class="inline" -->

            <legend>
              <h1 class="heading-large">
                Does the business commission contract packers in the UK to make liable drinks on their behalf?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="copackedTrue" type="radio" name="useCopacker" value="Yes" {{ checked("useCopacker", "Yes") }}>
              <label for="copackedTrue">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="copackedFalse" type="radio" name="useCopacker" value="No" {{ checked("useCopacker", "No") }}>
              <label for="copackedFalse">No</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>

    <div class="column-third">
      <p>Manufacture? <strong>{{data['manufacture']}}</strong></p>
      {% if (data['manufacture'] == "Yes") %}
        <p>Make for: <strong>{{data['manufactureWho']}}</strong></p>
        <p>Qty. own brand: <strong>{{data['volOwnBrand']}} litres</strong></p>
        <p>Qty. co-packed for others: <strong>{{data['volCopack']}} litres</strong></p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}