{% extends "layout.html" %}

{% block page_title %}
  {{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- EDIT THIS FOR EACH NEW PAGE -->
      <a href="javascript:history.back();" class="link-back">Back</a> 

      <form action="/liability/copacked" method="get" class="form" >
        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-large">
                How much liable drink does the business produce for their customers as a contract packer?
              </h1>
            </legend>

            <div class="form-group">
              <label class="form-label" for="volCopack">
                <input class="form-control" id="volCopack" type="text" name="volCopack">
                 litres per year
              </label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>

    <div class="column-third">
      <p>Manufacture? <strong>{{data['manufacture']}}</strong></p>
      <p>Make for: <strong>{{data['manufactureWho']}}</strong></p>
      <p>Qty. own brand: <strong>{{data['volOwnBrand']}} litres</strong></p>
    </div>
  </div>
</main>

{% endblock %}