{% extends "layout.html" %}

{% block page_title %}
  {{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Soft Drinks Industry Levy
        <!-- <span class="heading-secondary">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}
      <p>Sugar Tax.</p>

      <a class="button button-start" href="/liability/" role="button">Start now</a>

      <h2 class="heading-medium">About this page</h2>

      <ul class="list list-bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}