{% extends "layout.html" %}

{% block page_title %}
  {{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Soft Drinks Industry Levy
        <!-- <span class="heading-secondary">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}
      <h2 class="heading-medium">What is the Soft Drinks Industry Levy?</h2>

      <p>The Soft Drink Industry Levy (SDIL) comes into effect from April 2018. It applies to those who package or import soft drinks with a sugar content of 5g or higher. These businesses will have to pay a charge for drinks that contain added sugar and the sugar content is 5g or more per 100 millilitres.</p>

      <h2 class="heading-medium">What is a liable drink?</h2>

      <p>A drink is liable if it:</p>

      <ul class="list list-bullet">
        <li>has an alcohol content of less than 1.2%</li>
        <li>is either ready to drink or, in order to be drunk must be diluted with water, mixed with crushed ice or processed to make crushed ice, mixed with carbon dioxide or a combination of these</li>
        <li>contains added sugar such as mono-saccharides or di-saccharides</li>
        <li>contains at least 5 grams of sugar per 100 millilitres</li>
        <li>is not exempt</li>
      </ul>

      <p>A drink is exempt if it:</p>

      <ul class="list list-bullet">
        <li>has an alcohol content of more than 1.2% </li>
        <li>is milk based or milk-substitute based</li>
        <li>is an alcohol replacement drink</li>
        <li>is used for medicinal or other specified purposes</li>
      </ul>

      <h2 class="heading-medium">Who needs to register?</h2>
      <p>You need to register if your business is involved in the production, packaging or importation of liable drinks, you’ll need to register. </p>
      <p>You do not need to register if you:</p>
      <ul class="list list-bullet">
        <li>do not produce liable drinks</li>
        <li>produce less than 1 million litres of liable drinks per year</li>
      </ul>

      <p>You can find out if you need to register if you’re not sure.</p>
      


      <a class="button button-start" href="/liability/" role="button">Start now</a>

      <!-- <h2 class="heading-medium">About this page</h2>

      <ul class="list list-bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
      </ul> -->

    </div>
  </div>
</main>

{% endblock %}